{% extends 'base2.html' %}
{% block script_for_page %}
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/static/js/user.js"></script>
{% endblock %}


{% block content %}
<div class='maindiv container-fluid'>
  <div class='row' style='height: 40px;'></div>

<div class='smallerMain row'>
<form class="form-horizontal col-md-8 col-md-offset-2 texture" method='POST' id='carrot-form' action='/carrot_defined'>
<fieldset>

<!-- Progress Bar -->
<div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:50%"> Completed - 50%
  </div>
</div>


<!-- Form Name -->
<legend>What is it you want to earn?</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="earnThing">What is it you want once you have completed your goal?</label>  
  <div class="col-md-4">
  <input id="earnThing" name="earnThing" type="text" placeholder="Buy a new camera" class="form-control input-md" required="">
  <span class="help-block">Big or small, just put down something you will feel motivated to pay yourself with!</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="thingCost">How much will this cost you?</label>  
  <div class="col-md-4">
  <input id="thingCost" name="thingCost" type="number" placeholder="1000" min='1.00' step='1.00' max='10000.00' class="form-control input-md" required="">
  <span class="help-block">Actual or estimate - pick an amount so we can track how close you are to your goal!</span>  
  </div>
</div>
 
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="earnButton"></label>
  <div class="col-md-4">
    <button id="earn-Button" name="earnButton" class="btn btn-inverse" type='submit'>Now let's set a goal!</button>
  </div>
</div>


  </form>
  <div class='chart'></div>
  <div class='text'></div>


</fieldset>
</form>


</div> <!-- END smallerMain DIV-->
</div> <!-- END MAIN DIV-->


{% endblock %}