{% extends 'base.html' %}

{% block script_for_page %}
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/static/js/goal.js"></script>
{% endblock %}


{% block content %}
<div class='maindiv'>
<div id='top-heading'>
    <h2> Let's create a goal with some objectives!</h2>
</div>
<div>
    <ul>
        What is something you want to accomplish? Big or small, just follow the form to capture what you want to complete. It's a good idea to have more than one objective.

    </ul>
    <!-- Begin Goal/Obj Form -->
    <form action='/define_goal' method='POST' id='goal-form'>
    
    <!-- *** Goal ***-->
    <div>
        <label>Goal:<br>
            I want to 
            <input type='text' name='goal-action' required value='do'/> 
            <input type='text' name='goal-noun' required value='something'/> 
            by 
            <input type='date' name='goal-date' required min='2017-08-07'/>
            <!--  TODO: THIS IS HARDCODED, NEED TO UPDATE WITH ARROW?DATETIME -->
        </label>
    </div><br> <!-- End goal div-->

    <!--  HIDDEN FIELD - Counter -->
    <input name='objCounter' id='obj-counter' value='0' type='number' hidden>
    
    <!-- *** Objectives ***-->
    <div id='objective-holder'>
        Objectives:<br>
    </div> <!-- End objective holder-->
    
    <!-- Objective Button - Click to Add -->
    <div id='obj-button'>
        <input type="button" value='Click to Add' id='objective-button'/>
    </div>
    
    <br><br>

    <!-- Submit Goal with Objectives Button -->
    <div>
        <label>
        <input type='submit' value="Submit Goal and Objectives" required/>
        </label>
    </div>
    </form>
</div>
</div>
{% endblock %}