{% extends 'base.html' %}
{% block script_for_page %}
<script src="/static/js/user.js"></script>
{% endblock %}


{% block carousel %}

<!-- Inspired by https://codepen.io/crashy/pen/JoKMgG -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role='listbox'>
    <div class="item active"><br><br><br><br><br><br><br><br><span class='title'><h1>&nbsp;&nbsp;&nbsp;&nbsp;"Keeping myself accountable to <br> &nbsp;&nbsp;&nbsp;&nbsp;practicing helped <br>&nbsp;&nbsp;&nbsp;&nbsp;me land my first gig!"</h1></span>
      <!-- <img src="/static/Images/banjo.jpg" alt="I learned to play the Banjo!"> -->
    </div>

    <div class="item"><br><br><br><br><br><br><br><span class='title'><h1>&nbsp;&nbsp;&nbsp;&nbsp;"I actually committed<br> &nbsp;&nbsp;&nbsp;&nbsp;to learn how to<br>&nbsp;&nbsp;&nbsp;&nbsp;take professional quality photos."</h1></span>
      <!-- <img src="/static/Images/callmom.jpg" alt="I improved my relationship with my mom by remembering to call!"> -->
    </div>

    <div class="item"><br><br><br><br><br><br><br><br><span class='title'><h1>&nbsp;&nbsp;&nbsp;&nbsp;"Bill helped me stick<br> &nbsp;&nbsp;&nbsp;&nbsp;with training, and<br>&nbsp;&nbsp;&nbsp;&nbsp;now I can say that<br>&nbsp;&nbsp;&nbsp;&nbsp;I ran a marathon!"</h1></span>
      <!-- <img src="/static/Images/photography.jpg" alt="I learned how to professional level photography skills!"> -->
    </div>
  </div>
</div>

{% endblock %}
{% block content2 %}

<div class="container-fluid">
    <div class="row col-xs-12 col-sm-6 col-md-8">
    </div>
    <div id='homepage-info' class="row col-xs-12 col-md-6 col-lg-4 col-md-offset-6 col-lg-offset-8" style='background-color: rgba(255, 255, 255, 0.5); text-shadow: 2px 2px #000 color: #FFF; center'>
        <span class='inlin-block Absolute-Center'><br>
        <h1>Accounta<b>Bill</b></h1>
        <hr>
        <h3>Be your own accountabillity partner!</h3>
        <ul>
            <li>Step 1: Create an account.</li>
            <li>Step 2: Set a goal with reasonable objectives.
                <ul>
                <li>Identify how much you are willing to 'pay' yourself to complete it.</li>
                <li>Set that money aside.</li>
                <li>Everytime you complete an objective, you get part of that money back!</li>
                </ul>
            </li>
            <li>Step 3: Make sure you check off when you complete an item!</li>
            <br>
        </ul>
        <a class="btn btn-info btn-lg btn-block" href="/register" role="button">Register Here!</a>
        <a class="btn btn-light btn-lg btn-block" href="/login" role="button">Login</a>
    </div>
</div>  <!-- End container fluid div -->

{% endblock %}