{% extends 'base.html' %}

{% block content %}

<form action='/register_now' method='POST'>
    <div>
        <label>Email:<br>
            <input type='email' name='email' required>
        </label>
    </div>
    <div>
        <label>Password:<br>
            <input type='password' name='password' required>
        </label>
    </div>

        <label>First Name:<br>
            <input type='text' name='fname' required>
        </label>
    </div>
    <div>
        <label>Last Name:<br>
            <input type='text' name='lname' required>
        </label>
    </div>
    <div>
        <label>Phone Number:<br>
            <input type='tel' name='phonenum' required>
        </label>
    </div>
    <div>
        <label>I agree to receive texts reminders.<br>
            <input type='checkbox' name='agreetext' required>
        </label>
    </div>
    <div>
        <label>
        <input type='submit' value='register' required>
        </label>
    </div>
</form>

{% endblock %}