{% extends 'base.html' %}
{% block script_for_page %}
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="/static/js/user.js"></script>
{% endblock %}


{% block content %}
<div class='maindiv'>
  <div id='user-heading'>
    <h1>{{ user.email }} ({{ user.user_id }})</h1>
    <h3>Points available: {{ user.points }}</h3>
  </div><!-- END USER HEADING -->

  <div id='completed-goals'>
    <h2>Goals completed:</h2>
  </div> <!-- END completed-goals DIV-->
  
  <div id='to-complete-goals'>
    <h2>Goals to complete:</h2>
  </div> <!-- END completed-goals DIV-->


</div> <!-- END MAIN DIV-->
___________________________________________
  {% if user.goal %}
    <h2>Goals completed:</h2>
        {% for g in user.goal %}  
          {% if g.complete %}
      <ul style="list-style-type:none">
        <li>{{ g.goal_text }}</li>
            <ul>
                {% for objective in g.objective %}
                <li>{{ objective.obj_text }}</li>
                {% endfor %}
            </ul>
      </ul>
      {% endif %}
      {% endfor %}

      <h2>Goals to complete:</h2>
        {% for g in user.goal %}  
          {% if not g.complete %}
      <ul style="list-style-type:none">
        <li>{{ g.goal_text }}</li>
            <ul>
                {% for objective in g.objective %}
                <li>{{ objective.obj_text }}</li>
                {% endfor %}
            </ul>
      </ul>
      {% endif %}
      {% endfor %}
 
  {% endif %}

{% endblock %}