{% extends 'base2.html' %}
{% block script_for_page %}
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/static/js/donut.js"></script>
  <script src="/static/js/user.js"></script>


{% endblock %}


{% block content %}
<div class='maindiv container-fluid' style='height: 50px'></div>
<div class='maindiv container-fluid'>
  <div id='user-heading'>
    <h1>{{ user.email }} (<span id='user-id'>{{ user.user_id }}</span>)</h1>
      <h3>Points available: <span id='points'>{{ user.points }}</span><br></h3>
  <div>
  <div id='goaltainer' class="row">
    <div id='current-goal' class="col-xs-12 col-sm-4">
      <div id='earn-item'>Currently working towards: {{ user.earn_thing }}
      <span id='thing-cost'>{{ user.thing_cost }}</span></div>
      <!-- <div id='heatmap' name='heatmap'></div> -->
      <div width='200' height='200'>
        <canvas id="myCharts" height="75" width="75"></canvas><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
      </div>
    </div><!-- END USER HEADING -->

    <!-- col 2 -->
    <div class='col-xs-12 col-sm-6' style='background-color: rgba(255, 255, 255, 0.5); text-shadow: 2px 2px #000 color: #FFF;'>
      <div id='completed-goals'>
        <h2>Goals completed:</h2>
      </div> <!-- END completed-goals DIV-->
      
      <form action='/user' method='POST' id='user-goal-update'>
      <div id='to-complete-goals'>
        <h2>Goals to complete:</h2>
      </div> <!-- END to-complete-goals DIV-->
      <!-- submit button here -->
      <br>

      <div class="form-group">
        <label class="col-md-4 control-label" for="update-objective-button"></label>
        <div class="col-md-4">
          <button id="update-objective-button" name="update-objective-button" class="btn btn-inverse">Update my Objectives!</button>
        </div>
      </div>
      </form>
    </div>



  </div> 
</div> <!-- END MAIN DIV-->


{% endblock %}