{% extends 'base.html' %}

{% block content %}

<h1>{{ user.email }} ({{ user.user_id }})</h1>
<h3>Points available: {{ user.points }}</h3>

  {% if user.goal %}
    <h2>Goals completed:</h2>
        {% for g in user.goal %}  
          {% if g.complete %}
      <ul style="list-style-type:none">
        <li>{{ g.goal_text }}</li>
            <ul>
                {% for objective in g.objective %}
                <li>{{ objective.obj_text }}</li>
                {% endfor %}
            </ul>
      </ul>
      {% endif %}
      {% endfor %}

      <h2>Goals to complete:</h2>
        {% for g in user.goal %}  
          {% if not g.complete %}
      <ul style="list-style-type:none">
        <li>{{ g.goal_text }}</li>
            <ul>
                {% for objective in g.objective %}
                <li>{{ objective.obj_text }}</li>
                {% endfor %}
            </ul>
      </ul>
      {% endif %}
      {% endfor %}
 
  {% endif %}

{% endblock %}